<%= error_messages_for "door_section_dimension" %>

<table>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_SIZE') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= text_field 'door_section_dimension', 'value', :size => 30 %></td>
  </tr>
</table>
