.clear {
  clear: both;
}
.section {
  float: left;
  margin-bottom: 20px;
  width: 100%;
}
.choice-list {
  margin: 20px;
}
.choice-list .choice {
  display: block;
  float: left;
  margin: 10px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border: 4px solid #C7BD93;
  width: 150px;
  height: 120px;
}
.choice-list .choice.door-panel{
  height: 210px;
}
.choice-list .choice.selected {
  border: 4px solid #3F3C2F;
}
.choice-list .choice:hover {
  background-color: #948B6D;
}

/* door configuration section */
.single-section {
  display: table-cell;
  border-top: 4px solid #3F3C2F;
  border-bottom: 4px solid #3F3C2F;
  border-left: 4px solid #3F3C2F;
  min-width: 50px;
  padding: 4px;
  background-color: #C7BD93;
}
.single-section.last {
  border-right: 4px solid #3F3C2F;
}

/* label */
.section-label {
  text-align: center;
  padding: 3px;
}

/* door panel */
.selected-door-panel {
  padding: 5px;
  background: #FFFFFF;
  text-align: center;
}
.selected-door-panel:hover {
  background-color: #948B6D;
}

/* door panel list */
.list-door-panels {
  display: none;
  position: absolute;
  overflow: auto;
  height: 500px;
  width: 550px;
  background: #FFFFFF;
  border: 1px solid #3F3C2F;
}
.door-panel {
  display: block;
  float: left;
  margin: 10px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border: 4px solid #C7BD93;
  width: 130px;
  height: 220px;
}
.door-panel:hover {
  background-color: #948B6D;
}
.door-panel.selected {
  border: 4px solid #3F3C2F;
}

/* door glass */
.section-door-glasses {
}
.section-door-glasses:hover {
  background-color: #948B6D;
}
.section-door-glasses select {
  width: 100%;
}
