.clear {
  clear: both;
}
.section {
  float: left;
  margin-bottom: 20px;
  width: 100%;
}
.choice-list {
  margin: 20px;
}
.choice-list .choice {
  display: block;
  float: left;
  margin: 10px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border: 4px solid #C7BD93;
  width: 150px;
  height: 120px;
}
.choice-list .choice.door-panel{
  height: 210px;
}
.choice-list .choice.selected {
  border: 4px solid #3F3C2F;
}
.choice-list .choice:hover {
  background-color: #948B6D;
}
